

    img {
        width: 1.2rem;
        margin: 0rem calc(0.5rem + 0.5vw);
    }

    .delete:hover {
        cursor: pointer;
    }

    .edit:hover {
        cursor: pointer;
    }

    .assign:hover {
        cursor: pointer;
    }

    .unassign:hover {
        cursor: pointer;
    }
    .close:hover {
        cursor: pointer;
    }
